@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Roboto:ital,wght@0,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2F4057;
}

li {
  list-style-type: none;
}

a {
  color: #518AD5;
  text-decoration-color: #D5D5D5;
}

a:visited {
  color: #518AD5;
  text-decoration-color: #D5D5D5;
}

input {
  padding-left: 5px;
}

.tittle {
  text-align: center;
  color: #518AD5;
  text-transform: uppercase;
  border-top: solid 1px #707070;
  border-bottom: solid 1px #707070;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 49px;
  margin: 4rem 2rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: initial;
}
.form__signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.form__last {
  place-self: center;
  margin: 1rem 0 3rem 0;
}

div.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  place-self: end;
}
div.index:last-child {
  flex-direction: row;
  justify-content: center;
}
div.index input.check {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: none;
}
div.index span {
  font-size: 0.8rem;
}

label {
  place-self: start;
  margin-left: 5px;
}

.disclaimer {
  width: 50vw;
  text-align: center;
  margin: 0 auto 5rem auto;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 5vh;
}
.img-container img {
  width: 100px;
}

button {
  margin: 1rem 0 1rem 0.7rem;
  padding: 0.5rem;
  width: 80px;
  align-self: end;
  font-size: 0.9rem;
  border-radius: 10px;
  background-color: #518AD5;
  border: none;
  color: #E3E5EF;
  font-weight: 600;
}

@media (max-width: 387px) {
  .tittle {
    font-size: 40px;
  }
}
body {
  color: #E3E5EF;
}

.tittle__secondary {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 4rem;
}
.tittle__main {
  font-family: "Montserrat";
  font-weight: 400;
  color: #518AD5;
  border-top: solid 1px #707070;
  border-bottom: solid 1px #707070;
}

.header.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
  gap: initial;
  padding: 0.5rem 1rem;
  background-color: #455E80;
}
.header.mobile .burguer {
  font-size: 2rem;
  color: #518AD5;
}

.register label {
  margin-bottom: 5px;
}
.register__form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  margin: 0 10vw;
}
.register__form-input, .register__form-select {
  margin-bottom: 1rem;
  height: 30px;
  border-radius: 10px;
  border: none;
}
.register__form-input.check, .register__form-select.check {
  align-self: end;
  margin-right: 5px;
  margin-bottom: 0;
}
.register__form-input.check--second, .register__form-select.check--second {
  margin-bottom: 1rem;
}
.register__form button {
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.5rem;
  width: 150px;
  align-self: end;
  font-size: 0.9rem;
  border-radius: 10px;
  background-color: #518AD5;
  border: none;
  color: #E3E5EF;
  font-weight: 600;
}
.register__footer {
  position: relative;
  height: 230px;
}
.register__footer-div {
  position: absolute;
  bottom: 0px;
}
.register__footer-p {
  margin: 0.5rem;
  padding: 0 0.5rem;
  text-transform: uppercase;
  font-size: 11px;
}
.register__footer-p span {
  color: #7BD6A9;
}

#resgisterPassword {
  height: 30px;
  border-radius: 10px;
  border: none;
}

#confirmPassword {
  height: 30px;
  border-radius: 10px;
  border: none;
}

.showRegister {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 60vw;
  height: 20vh;
  border-radius: 15px;
  box-shadow: 3px 3px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: initial;
  font-size: 1.5rem;
  color: #E3E5EF;
  text-align: center;
  background-image: linear-gradient(120deg, #7BD6A9, #4c8669);
}
.showRegister small {
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(46, 46, 46);
}

.main {
  margin-bottom: 70px;
}
.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 150px;
}
.main__container p {
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 700;
}
.main__circle {
  border: 5px solid #707070;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: initial;
}
.main__circle i {
  font-size: 5rem;
  color: #C4C4C4;
}

.deposit {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  gap: initial;
}

.deposit__card {
  background-color: rgba(81, 138, 213, 0.1333333333);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #2b4881;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.deposit__button {
  align-self: center;
}
.deposit__input {
  margin: none;
  width: 80%;
  height: 30px;
  border-radius: 10px;
  border: none;
}
.deposit__user-data {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  margin: 3em auto 0 auto;
}
.deposit__user-data span {
  font-size: 1.5rem;
}
.deposit__user-name {
  font-weight: 100;
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
}

.display-none {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
