.tittle {
    text-align: center;
    color: $logo;
    text-transform: uppercase;
    border-top: solid 1px $logoLines;
    border-bottom: solid 1px $logoLines;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 49px;
    margin: 4rem 2rem;
}

.form {
    @include flex(center, center, column, initial);

    &__signin {
        @include flex(center, center, column, 10px);
    }
    &__last {
        place-self: center;
        margin: 1rem 0 3rem 0;
    }
}

div {
    @include flex(center, center, column, 5px);
    place-self: end;

    &:last-child {
        flex-direction: row;
        justify-content: center;
    }

    input.check {
        width: 300px;
        height: 30px;
        border-radius: 10px;
        border: none;
    }

    span {
        font-size: 0.8rem;
    }
}

label {
    place-self: start;
    margin-left: 5px;
}

.disclaimer {
    width: 50vw;
    text-align: center;
    margin: 0 auto 5rem auto;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 600;
}

.img-container {
    @include flex(center, center, row, 10px);
    margin-bottom: 5vh;

    img {
        width: 100px;
    }
}
button {
    margin: 1rem 0 1rem 0.7rem;
    padding: 0.5rem;
    width: 80px;
    align-self: end;
    font-size: 0.9rem;
    border-radius: 10px;
    background-color: #518AD5;
    border: none;
    color: #E3E5EF;
    font-weight: 600;
}
