.main {
    position: relative;
    margin-bottom: 70px;
    
    &__container {
        @include flex(center, center, row, 20px);
        flex-wrap: wrap;
        margin-top: 150px;
        position: relative;
        
        p {
            text-align: center;
            text-transform: uppercase;
            margin-top: 5px;
            font-size: 0.8rem;
            font-weight: 700;
        }
    }
    
    
    &__circle {
        border: 5px solid $logoLines;
        width: 165px;
        height: 165px;
        border-radius: 50%;
        @include flex (center, center, row, initial);
        
        
        i {
            font-size: 5rem;
            color: $iconMain;
        }
    }
}
