.deposit {
    @include flex(center, space-between, column, initial);
}

.deposit {
    &__card {
        background-color: #518AD550;
        border-radius: 10px;
        border: solid 1px $logoLines;
        box-shadow: 3px 3px 5px $blueShadow;
        width: 80%;
        height: 200px;
        margin: 0 auto;
        @include flex(center, center, column, 10px);
    }

    button {
        width: 30%;
        margin: 1em 0;
    }

    &__button {
        align-self: center;
    }

    &__input {
        margin: none;
        width: 80%;
        height: 30px;
        border-radius: 10px;
        border: none;
    }

    &__user-data {
        @include flex (center, start, row, 15px);
    }

    &__user-name {
        font-weight: 100;
        font-family: 'Helvetica', sans-serif;
        font-size: 1rem;
    }
}

.display-none {
    display: none;
}

#confirmCard {
    span {
        font-size: 2rem;
        color: $green;
    }
}

#withdrawalBtn {
    width: fit-content;
}