.header {
    position: relative;
    // overflow-x: hidden;
    z-index: 5;
}


.burguer {
    cursor: pointer;

    &__nav {
        position: absolute;
        right:15px;
        top: 58px;
        background-color: $backgroundSecondary;
        animation: 250ms ease-out burguer;
        overflow-x: hidden;
    }


    &__ul {
        padding: 10px;

    }

    &__item {
        padding: 10px;
        text-transform: uppercase;
        cursor: pointer;

        a {
            text-decoration: none;
            color: $iconMain;
        }
    }
}

@keyframes burguer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}