.status {
    @include flex (end, center, row, 5px);
    margin: 10px;

    &__paragraph {
        color: $lightTextColor;
        font-size: 0.8rem;
        text-transform: lowercase;
    }

    &__light {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        margin: 5px;
        display: block;
    }
}